<h1 class="text-center mt-4">Edit category name</h1>

<%= render 'form' %>

<div class="mb-3">
    <p><%= link_to 'Cancel and return to category',category_path(@category), class: "d-flex justify-content-center" %></p>
</div>