<h1 class="text-center mt-4">Add a new category</h1>

<%= render 'form' %>

<div class="mb-3">
    <p><%= link_to 'Cancel and return to list of categories', categories_path, class: "d-flex justify-content-center" %></p>
</div>